#main {
  // width: 100%;
  // max-width: 800px;
  // margin: 0 auto;
  // padding: 20px;

  width: 100%;
  max-width: 800px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  & #main-content {
    padding: 20px;
  }
}
