.layout {
  display: flex;
  height: 100vh;

  &--content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    @include themify($themes) {
      color: themed('textColor');
      background-color: themed('backgroundColor');
    }
  }

  & + & {
    display: none;
  }
}
