.layout {
  display: flex;
  height: 100vh;

  &--content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    color: #7e7e7e;
    // min-height: calc(100vh - 100px);
    // max-height: 100%;
  }
}
