.layout {
  display: flex;
  height: 100vh;

  &--content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    @include themify($themes) {
      color: themed('textColor');
      background-image: themed('backgroundColor');
    }
  }
}
